@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Regular.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Regular.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway-Bold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-Bold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-Bold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway-SemiBold.eot"); /* IE9 Compat Modes */
  src: url("../fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Raleway-SemiBold.otf") format("opentype"), /* Open Type Font */
    url("../fonts/Raleway-SemiBold.svg") format("svg"), /* Legacy iOS */
    url("../fonts/Raleway-SemiBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/Raleway-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Raleway-SemiBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

$opensans: "OpenSans-Regular";
$ralewayr: "Raleway-Regular";
$ralewaysb: "Raleway-SemiBold";
$ralewayb: "Raleway-Bold";
$gray:#6a6a6a;
$light-gray:#e7e8ec;
$primary-color: #eeeeee;
$green: #009209;
$lightgreen: #62ab02;
$dgreen:#020202;
$white: #fff;
$orange:#f78f1e;
$orangeOP92:rgba(255, 165, 0, 0.92);
$black:#000;
$blackLight:#5d5d5d;
$violet: #32318f;
$blue:#1193f5;
$gblue:#4885ed;
$yellow:#fbbc05;
$lightBlue:#5eb2ef;
$blacklightDark:#666;
$red:#ff0000;
$lightRed:#ff5722;
$whiteopacity:rgba(255,255,255,0);
$whiteopacity08:rgba(255,255,255,0.8);
$whiteopacity09:rgba(255,255,255,0.9);
$blackOpacity05:rgba(0,0,0,0.5);
$blackOpacity75:rgba(0,0,0,0.75);
$darkBg:#4a4a4a;
$opacity:rgba(54, 58, 243, 0);


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  font: 400 normal 15px/24px $opensans, Arial, Helvetica, sans-serif;
  color: #000; }
  ol {margin-bottom: 20px !important;
    li {
    list-style-position: outside;
    margin-left: 19px;
    padding-left: 11px;}
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*---Universal Selector to add additional resets, such as text-size adjust and tap highlighting---*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

a {
  text-decoration: none; }

body {
  margin: 0; }



ul {
  list-style-type: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

/*---Additional Form resets---*/
:required {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none; }

/*---Typographic Styling---*/
em, i {
  font-style: italic; }

u {
  text-decoration: underline; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

blockquote, q {
  quotes: "" ""; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

/*---Interactive Element Settings---*/
a, input[type="submit"], input[type="button"], button, label[for] {
  cursor: pointer; }

input[type="submit"] {
  -webkit-appearance: none; }

input[type="submit"], a.button {
    width: 144px;
    height: 42px;
  background: $green url(../images/submit-icon.png) no-repeat 88% 50%;
  border: 1px solid $green;
  border-radius: 0;
  color: $white;
  font-size: 23px;
  padding: 3px 36px 3px 9px;
  display: block;font-family:$opensans;
  margin: 0 auto;
  outline: none; }

input[type="submit"]:hover {
  background-color: $orange;border: 1px solid $orange;color: $white;background-image: url(../images/submit-icon.png)}
  

/*---Misc. Element Styling---*/
div.wpcf7-validation-errors, .wpcf7-mail-sent-ok, div.wpcf7-spam-blocked, 
div.wpcf7-acceptance-missing { display: none !important; }
.wpcf7-form-control-wrap {
    display: inline-block;    width: 100%;
}
span.wpcf7-not-valid-tip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    font-size: 13px !important;
    background: #fff;
    border-radius: 0;
    padding: 3px 11px;
    border: 1px #f00 solid;
}
img {
  -ms-interpolation-mode: bicubic; }
header, footer{
  a{
    text-decoration:none;
  }
}
.linksiz {
  font-size: 19px;
  line-height: 30px; }

/* Proper box model */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* General styles */
::selection {
  background: $violet;
  color: $lightBlue; }

::-moz-selection {
  background: $violet;
  color: $lightBlue; }

::-webkit-selection {
  background: $violet;
  color: $lightBlue; }

a {
  text-decoration: underline;
  color: #327D9D;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
.readmore {
  position: relative;
  display: inline-block;
  padding:10px 25px;
  color: #fff;
  font-size:16px;
  line-height: 22px;
  font-family:$ralewayr;
  text-decoration: none;
  text-transform: uppercase;
  background:$green;
      border: 2px solid $green;
  &::after{    
        -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    right: -2px;
    top: 50%;
    width: 18px;
    height: 2px;
    background: #fff;
    content: "";
    margin-top: -1px;}
    &:hover{background:$lightgreen; border-color:$lightgreen;&::after{ width:0; right:0px;}}
}

button {
  cursor: pointer; }

caption, th, td {
  vertical-align: middle; }

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 26px; }

h2, h3, h4, h5, h6 {
    color:$green;
    font-family:$ralewayb;
    padding-bottom: 0;
    font-size: 29px;
    font-weight: normal;
    line-height: 45px;
    margin-bottom: 15px; display: inline-block;
    position: relative;
    text-transform: none;
    small{
      font-family: inherit;font-size: inherit;color: $black;display: block;    margin-top: 9px;padding-bottom: 23px;
      position: relative;
    }
}

.last{margin-right: 0px !important;}
h2 a, h3 a {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
&:hover{color:$blue !important;}
   }

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
  font-size: 16px; color: $blackLight;
  line-height: 17px;
  font-weight: inherit;
  font-family: $opensans;
display: inline-block;position: relative;padding-left: 42px;
&:before{
  position: absolute;    left: -5px;
  top: 8px;
  width: 39px;
  height: 1px;background: $red;content:"";
}
}


.subheading{font-size: 16px;  font-family: $ralewayb; color: #000; text-transform: uppercase;line-height: 17px;}
.heading {
  font-family: $ralewayb;
  color: $green;
  font-size: 30px;
  font-weight: normal;
  line-height: 39px;
  margin-bottom:12px;
  text-transform: uppercase;}

img {
  height: auto;
  max-width: 100%; }

input, select, textarea {
  font-size: 13px; }

input[type="text"], input[type="tel"], input[type="phone"], input[type="email"],input[type="password"] {
  outline: none;
  border: 1px solid $lightRed;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 30px;
  padding: 4px 10px;
  width: 100%;
  font-size: 16px;
  font-weight: normal;vertical-align: top;font-family: $opensans;
  color: $black; }

p {
  margin: 0 0 18px; }

table {
  border: 0;
  border-spacing: 0;
  empty-cells: show; }

textarea {
  outline: none;
  height: 115px;
  font-size: 16px;
  resize: none;
  width: 100%;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 12px 10px;
  font-weight: normal;
  border: 1px solid $lightRed;
  color: $black;
  margin: 0;
  vertical-align: top;
  font-family: $opensans; }

ul, ol {
  margin: 0;
  padding: 0; }

.wrap {
  border: 0;
  clear: both;
  float: none;
  font-size: 1px;
  height: 0;
  line-height: 1px;
  margin: 0;
  padding: 0;
  visibility: hidden; }

.ban_inn li:last-child a:hover {
  background-color: #E2B72C;
  color: $white;
  border: 1px solid #E2B72C; }

.ban_inn li:last-child a img {
  display: inline-block;
  vertical-align: middle; }

.leftfl {
  float: left; }

.rgtfl {
  float: right; }

.tall {
  text-align: left; }

.talr {
  text-align: right; }

.talc {
  text-align: center; }

.justify {
  text-align: justify; }



.m0 {margin: 0px 0px 0px 0px; }
.wid{max-width:1200px;margin:0 auto;}  

.wid:after, li:after, ul:after, .social:after, div:after {
  display: block;
  content: "";
  clear: both; }

::-webkit-input-placeholder {
  opacity: 1;
  color: $black; }

:-moz-placeholder {
  opacity: 1;
  color: $black; }

::-moz-placeholder {
  opacity: 1;
  color: $black; }

:-ms-input-placeholder {
  opacity: 1;
  color: $black; }

*, :before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.hidecal {
  display: none; }

a.phn {
  color: $gblue;font-family:$opensans;
  display: inline-block;
  font-size: inherit;
  line-height: inherit; }

a.phn:hover {
  color: $orange; }

.rcapcha {
  border-radius: 3px;
  height: 75px;
  margin: 0 auto 6px;
  overflow: hidden;
  width: 100%; }

  .listng, .listing {margin-bottom: 30px;padding-left: 20px;display:inline-block;    width: 100%;
    li {
    padding: 0 8px 0 58px;margin-bottom: 13px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 38px;
      height: 38px;
      background: $green url(../images/tick-icon.png) no-repeat center center;
      border-radius: 0;
}
a {
  font-family: inherit;
  font-size: 21px;
  line-height: 18px;
  font-weight: bold;color: $blue;
  &:hover{color: $yellow;}
}
  }

}
.listng.twoCol, .listing.twoCol{
  li{width: 50%;float: left;}
}
.listng.threeCol, .listing.threeCol{
  li{width: 33.33%;float: left;}
}
.listng.fourCol, .listing.fourCol{
  li{width: 25%;float: left;}
}

.social {float: right;
  ul{float: left;margin: -2px 0 0 8px;}
    li{float:left;padding: 0 3px;
      a{background-image:url('../images/social.png');
        width:30px;height:30px;display:block;overflow: hidden;padding:0 !important;
    border-radius:50px;background-repeat:no-repeat;

      }
    }
}
a.fb{background-position:3px -2px;
  &:hover{background-color:#3a589e; background-position: 3px -35px;}}
a.ig{background-position:-73px -1px;
  &:hover{background-color:rgb(221, 47, 3);background-position: -73px -35px;}}
a.tw{background-position:-33px -2px;
  &:hover{background-color:#3b98d3; background-position: -33px -35px;}}
a.insta{background-position:0 0;
    &:hover{background-color:#ec0092;}}  
a.pint{background-position:0 0;
        &:hover{background-color:#ec1d02;}} 
a.yt{background-position:0 0;
        &:hover{background-color:#ff1f01;}}
a.lnk{background-position:0 0;
        &:hover{background-color:#3b98d3;}}  
  .innerpage h1, .innerpage h2, .innerpage h3, .innerpage h4, .innerpage h5, .innerpage h6 {
    position: relative;padding-bottom: 8px;
    &:before{
      content: "";
    height: 8px;
    width: 100px;
    background: $blue;
    position: absolute;
    bottom: -6px;
    }
}
a.Enq-btn {
  background: #138f04;
  color: #fff;
  padding: 8px 22px;
  text-decoration: none;
  text-transform: uppercase;
}
a.Enq-btn:hover{background: #106306;}

@media screen and (max-width: 1230px) {
  .listng.fourCol, .listing.fourCol{
    li{width: 33.33%;float: left;}
  }
.wid{max-width:1125px;}
h2, h3, h4, h5, h6 {font-size: 34px;}
h2.hdngLft {
    text-align: left;
    &:before{margin-left: 0;left: 0;}
}

}
@media screen and (max-width: 1184px) {
.wid {
  max-width: 1045px;
 
}
}

@media screen and (max-width: 1090px) {
  .wid {max-width: 980px;}
  .readmore {
    font-size: 20px;
    line-height: 22px;
    background-size: 13px !important;
}
}
@media screen and (max-width: 1023px) {
.wid {
  max-width: 930px;
}
}

@media screen and (max-width: 995px) {
  .wid {
    max-width: 839px;
}
  .listng.threeCol, .listing.threeCol{
  li{width: 25%;float: left;}
}
  .innerpage h2.hdngLft {
    clear: inherit;
}
h2, h3, h4, h5, h6 { font-size: 28px;line-height: 38px;width: 100%;}


}
@media screen and (max-width: 874px) {
.readmore {
    padding: 3px 35px 3px 15px;
    font-size: 19px;
    background-size: 13px !important;
}

}
@media screen and (max-width: 770px) {
h2.hdngLft.clearBth {
    clear: both;
    text-align: center;
    &:before{margin-left:-55px;left:50%;}
}
}
@media screen and (max-width: 767px) {
 
  .innerpage h2.hdngLft {
    clear: both;
}
h2, h3, h4, h5, h6 {
  font-size: 23px;
  line-height: 33px;width: 100%;
    small {
      font-family: inherit;
      font-size: 15px;
      color: #34a853;
      display: block;
      margin-top: 10px;
  }
}
h2.hdngLft {
    text-align: center;
    &:before{margin-left: -55px;left: 50%;}
}
}
@media screen and (max-width: 479px) {
  .listng.threeCol, .listing.threeCol{
    li{width: 50%;float: left;}
  }
  .listng.twoCol, .listing.twoCol{
    li{width: 100%;float: left;}
  }
.listng.fourCol, .listing.fourCol{
  li{width: 50%;float: left;}
}
}


@media screen and (max-width: 359px) {

}