﻿@media (max-width: 767px) {
    .tcscrolling{
    position: fixed;
    left: 70%;
    top: 0;
    margin-top: 24px;
    z-index: 100000;
    }   
}

@media (min-width: 768px) {
    .tcscrolling{
        position: fixed;
        bottom: 50%;
        right: 3%;
    }
}

@media (min-width: 992px) {
    .tcscrolling{
        position: fixed;
        bottom: 50%;
        right: 1.5%;
    }
}

@charset "UTF-8";

@font-face {
  font-family: 'outlined-iconset';
    src: url('../fonts/outlined-iconset.eot');
    src: url('../fonts/outlined-iconset.eot?#iefix') format('embedded-opentype'), 
    url('../fonts/outlined-iconset.woff') format('woff'), 
    url('../fonts/outlined-iconset.ttf') format('truetype'), 
    url('../fonts/outlined-iconset.svg#outlined-iconset') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="tcs-icon-"], [class*="tcs-icon-"] {
    font-family: "outlined-iconset" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: .75; /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tcs-icon {
    position: absolute;
    z-index: 1020;
    width: 0.5em !important;
    height: 0.5em !important;
    line-height: 0;
    word-spacing: -1;
    letter-spacing: -1;
    cursor: pointer;
    cursor: hand;
    font-family: 'entypo';
    color: #56A46E;
    font-size: 2em !important;
}

.tcs-icon:hover {
    color: #485C60;
}

@media (max-width: 767px) {
        .tcs-icon:hover {
        color: #485C60;
    }
}

.tcs-icon-scroll-up:before{
    content: "\e08b";
    float: right;
}
.tcs-icon-scroll-down:before{
    content: "\e088";
    float: right;
}