.activiti-full table{width: 100%;}

.activiti-full table tr td {padding: 5px 5px;font-size: 13px;}

.activiti-full table tr{border:1px solid #b7b9b9}

.activiti-full table tr th{text-align:center;background:#137707;color:#fff;font-weight:600;padding:5px 0px;border-right:1px solid #d9d9e459; line-break: 20px;}
.activiti-full table tr th span {
    font-size: 11px;
    line-height: 18px;
    color: #fff;
}
.activiti-full table tr td{text-align:center;word-wrap:break-word;max-width:7em;padding:5px 15px}
.activiti-full table tr td{display:table-cell;border-right:1px solid #b7b9b9;}
.activiti-full table tr td:nth-child{display:table-cell;border-right:0px solid #b7b9b9}
.activiti-full table tr td:nth-child(6){text-align: right;}
.activiti-full table tr:nth-child(2n){background-color:#fff}
tr.st-rw-f.aniPos {
    position: fixed;
    top: 80px;
    width: 100%;
    max-width: 960px;display: table;
}
tr.st-rw-s.aniPos{
    position: fixed;
    top: 186px;
    width: 100%;
    max-width: 960px;display: table;
}
.activity-main .raw-mat-left ul li a {
    text-transform: uppercase;
}
.title-hd strong {
    text-transform: uppercase;
}

.sec1 p.homp{
    text-align: justify;
width: 100%;
    margin: 22px auto 40px;

}
.productSec .product-left ul li {
    text-transform: uppercase;
}

.productSec .product-right .product-listing.smallProducts .productslist .prdtname {
    text-transform: uppercase;
}
.tb-cnt{width:100% !important;}
.contact-main .contact-pers ul li .conta-details {

    text-transform: none !important;
}
